doctype html
html
  head
    title Suavelan
  body
    h1 Suavelan
    p Por favor sube una imagen en cualquier idioma y será traducida.
    form(action="/upload", method="post", enctype="multipart/form-data")
      input(type="file", name="image", accept="image/*", required=true)
      button(type="submit") Subir Imagen
